<html>
    <head>
    <title>CGPA</title>
    <style>
         .first{
        display: flex; 
   justify-content: center; 
  align-items: center; 
                position: relative;
  /* padding: 30px; */
 border: 2px solid;
  /* margin-left: 25px; */
  height: auto;
  width: 250px;
  top:15%;
  left: 40%;
  margin: -25px 0 0 -25px;
          }
    </style>
    </head>
    <body>
        <div class="first">
        <form action="cal_total" method="POST">
        <% for(i= 0 ; i < year  ; i++) { %>
          <% for(k =0 ; k < 2; k++) {%>
            <br>
            <label for="<%= sems[i][k]%>"><%= sems[i][k]%> : </label>
            <input name="<%= sems[i][k]%>" type="text">
            <br>
            
         <% }%>
         <% }%>
         <% for(k =0 ; k < semester ; k++) {%>
            <br>
            <label for="<%= sems[year][k]%>"><%= sems[year][k]%> : </label>
            <input name="<%= sems[year][k]%>" type="text">
            <br>          
         <% }%>
         <br>
         <button>CALCULATE-CGPA</button>
        </form>
       </div>
    </body>
</html>